In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import sys

In [2]:
sys.path.insert(0, os.path.abspath('../..'))
from UKMovementSensing import hsmm

In [3]:
execfile('config.py')

## Load model

In [4]:
import pickle
with open(model_file, 'r') as f:
    model = pickle.load(file=f)

In [5]:
for o in model.obs_distns:
    print(o.params)

{'mu': array([ 0.00153083]), 'sigma': array([[ 0.0001755]])}
{'mu': array([ 0.03521839]), 'sigma': array([[ 0.00202581]])}
{'mu': array([ 0.05861196]), 'sigma': array([[ 0.00486286]])}
{'mu': array([ 0.00899643]), 'sigma': array([[ 0.000721]])}

In [6]:
means = pd.DataFrame([o.params['mu'] for o in model.obs_distns], columns=column_names)
means.transpose().style.background_gradient(cmap='coolwarm',axis=1)

In [7]:
sigmas = pd.DataFrame([o.params['sigma'][0] for o in model.obs_distns], columns=column_names)
sigmas.transpose().style.background_gradient(cmap='coolwarm',axis=1)

In [8]:
durations = pd.DataFrame([o.params['lmbda'] for o in model.dur_distns], columns=['duration'])
durations['duration_sec'] = ["{} sec".format(int(round(x*5))) for x in durations['duration']]
durations.transpose()

                     0         1         2         3
duration       460.345   267.444   273.338   201.086
duration_sec  2302 sec  1337 sec  1367 sec  1005 sec

In [9]:
# Transition probablilites
pd.DataFrame(model.trans_distn.trans_matrix).style.background_gradient(cmap='BuGn')