In [3]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import sys

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
sys.path.insert(0, os.path.abspath('../..'))
from UKMovementSensing import hsmm

In [5]:
execfile('config.py')

## Load model

In [6]:
import pickle
with open(os.path.join(model_path, model_name+'.pkl'), 'r') as f:
    model = pickle.load(file=f)

In [9]:
for o in model.obs_distns:
    print(o.params)

{'mu': array([ 0.00206767]), 'sigma': array([[  6.94190530e-05]])}
{'mu': array([ 0.02461211]), 'sigma': array([[ 0.00079834]])}
{'mu': array([ 0.0999375]), 'sigma': array([[ 0.00763471]])}
{'mu': array([ 0.47909379]), 'sigma': array([[ 0.48805683]])}

In [15]:
means = pd.DataFrame([o.params['mu'] for o in model.obs_distns], columns=column_names)
means.transpose().style.background_gradient(cmap='coolwarm',axis=1)

In [17]:
sigmas = pd.DataFrame([o.params['sigma'][0] for o in model.obs_distns], columns=column_names)
sigmas.transpose().style.background_gradient(cmap='coolwarm',axis=1)

In [32]:
durations = pd.DataFrame([o.params['lmbda'] for o in model.dur_distns], columns=['duration'])
durations['duration_sec'] = ["{} sec".format(int(round(x/5))) for x in durations['duration']]
durations.transpose()

                    0        1        2        3
duration      259.302  102.259  59.9788  10.9024
duration_sec   52 sec   20 sec   12 sec    2 sec

In [31]:
["{} sec".format(int(round(x/5))) for x in durations['duration']]

['52 sec', '20 sec', '12 sec', '2 sec']