In [40]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import sys

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
sys.path.insert(0, os.path.abspath('../..'))
from UKMovementSensing import hsmm

In [42]:
execfile('config.py')

## Load model

In [43]:
import pickle
with open(os.path.join(model_path, model_name+'.pkl'), 'r') as f:
    model = pickle.load(file=f)

In [44]:
for o in model.obs_distns:
    print(o.params)

{'mu': array([ 0.00017573]), 'sigma': array([[  8.69992186e-07]])}
{'mu': array([ 0.07207947]), 'sigma': array([[ 0.00440061]])}
{'mu': array([ 0.01256327]), 'sigma': array([[ 0.0002217]])}
{'mu': array([ 0.29956477]), 'sigma': array([[ 0.16315867]])}

In [45]:
means = pd.DataFrame([o.params['mu'] for o in model.obs_distns], columns=column_names)
means.transpose().style.background_gradient(cmap='coolwarm',axis=1)

In [46]:
sigmas = pd.DataFrame([o.params['sigma'][0] for o in model.obs_distns], columns=column_names)
sigmas.transpose().style.background_gradient(cmap='coolwarm',axis=1)

In [47]:
durations = pd.DataFrame([o.params['lmbda'] for o in model.dur_distns], columns=['duration'])
durations['duration_sec'] = ["{} sec".format(int(round(x*5))) for x in durations['duration']]
durations.transpose()

                    0        1        2        3
duration      137.892  58.4529  86.2874  4.96763
duration_sec  689 sec  292 sec  431 sec   25 sec

In [48]:
# Transition probablilites
pd.DataFrame(model.trans_distn.trans_matrix).style.background_gradient(cmap='BuGn')